.input-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 50px;
    background-color: white;
}

.input {
    flex: 1;
}

.inputWithSelectedImage {
    height: 500%;
    width: 100%;
}

.selectedImage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(187, 170, 219, 0.8);
    border-radius: 15px 15px 0 0;
}

.selectedImage-text {
    white-space: pre;
}

.selectedImage-img {
    height: 100px;
}

.cancelSelectedImage {
    cursor: pointer;
}

.message-input {
    padding: 12px 8px;
    flex: 1;
    background: var(--color-gray);
    border-radius: var(--border-radius);
    border: black;
    z-index: 0;
    word-break: break-word;
    max-width: 100%;
}
.react-input-emoji--placeholder {
    z-index: auto!important;
}

.react-input-emoji--container {
    width: 0!important;
}

.react-emoji-picker--container {
    right: -138px;
}

.send {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons.hidden {
    display: none;
}

.send-message {
    margin-right: 4px;
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #5d5b8d;
    cursor: pointer;
    transition: all .1s
} .send-message:hover {
      transform: scale(1.03)
  }.send-message:active {
         transform: scale(.98);
     }