.chat {
    flex: 2;
}

.default {
    flex: 2;
    background-color: #ddddf7;
    font-size: xx-large;
    text-align: center;
    color: gray;
}

.statement {
    margin-top: calc(40% - 50px);
}

.sidebar-toggle {
    background-color: #5d5b8d;
    display: none;
}

.chatInfo {
    height: 50px;
    background-color: #5d5b8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
}

.chatIcons{
    display: flex;
    gap: 10px;
}.chatIcons img {
    height: 24px;
    cursor: pointer;
 }

@media screen and (max-width: 768px) {
    .sidebar-toggle {
        display: initial;
    }
}